---
layout: default
---

<div>
    <div class="col-md-3 border-left">
        {% include section_stackoverflow.html %}
        TEST
        <!--{% include section_expertise.html %}-->
    </div>
    <div class="col-md-9 border-right">
        {% include section_intro.html %}
        {% include section_workexperience.html %}
        {% include section_education.html %}
        {% include section_github.html %}
        {% include section_bitbucket.html %}
        {% include section_additionalinfo.html %}
    </div>
</div>
