<div id="introBubble" class="rounded_panel txt_lightgrey">
    <div class="top-rounded-panel grey-bg">
        <h1 id="user-intro">Introduction &amp; Background</h1>
    </div>
    <div class="content-rounded-panel">
        <div id="introBlurb">
            {% if site.introduction %}
            <ul>
                {% for intro in site.introduction %}
                <li>&#8226; {{intro}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <br>
    </div>
</div>
